<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置JobDetailBean -->
	<bean id="job" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.security.quartz.MyQuartz"></property>
	</bean>

	<!-- 配置触发器 -->
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 注入任务详情对象 -->
		<property name="jobDetail">
			<ref bean="job" />
		</property>
		<!-- 注入cron表达式，通过这个表达式指定触发的时间点 -->
		<property name="cronExpression">
			<value>0/5 * * * * ?</value>
		</property>
	</bean>

	<!-- 配置调度工厂 -->
	<bean id="sheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 注入触发器,可配置多个 -->
		<property name="triggers">
			<list>
				<ref bean="trigger" />
			</list>
		</property>
	</bean>

</beans>